#	Sun, Aug 17, 2025

## Topic :Loop

In [1]:
for i in [1,2,3,4,5]:
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [3]:
for i in range(5):
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [22]:
m=int(input("enter a number"))
for i in range(m,m+5):
    print(i*i)

enter a number 6

36
49
64
81
100

In [23]:
m=int(input("enter a number"))
for i in range(1,m):
    print(i*i)

enter a number 8

1
4
9
16
25
36
49

In [44]:
number = int(input("Enter a number that you would like to see table"))
for i in [number]:
    for j in range (1,11):
        print(f"{i}*{j} = {i*j}")

Enter a number that you would like to see table 5

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [47]:
num = 11
for i in range(2,6):
    for j in range (1,num):
        print(f"{i}*{j} = {i*j}")
    num -= 1

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35

- ## Dictionaries

In [53]:
bio_data = {
    "f_name" :'Muhammad',
    "l_name" : 'Faizan',
    "age" : 22,
    "weight" : 60
}

In [56]:
bio_data['qualification'] = "Undergraduate"

In [57]:
bio_data

{'f_name': 'Muhammad',
 'l_name': 'Faizan',
 'age': 22,
 'weight': 60,
 'qualification': 'Undergraduate'}

In [60]:
bio_data.pop("weight") #delete Argumented key & value

60

In [61]:
bio_data

{'f_name': 'Muhammad',
 'l_name': 'Faizan',
 'age': 22,
 'qualification': 'Undergraduate'}

In [63]:
bio_data.popitem() #delete  last option

('qualification', 'Undergraduate')

In [64]:
bio_data

{'f_name': 'Muhammad', 'l_name': 'Faizan', 'age': 22}

In [82]:
bio_data.setdefault("f_name") #check the key in dictionary if exist return value and if  not exist add key with none value

'M'

In [83]:
bio_data.setdefault("weight")

In [84]:
bio_data

{'f_name': 'M', 'l_name': 'Faizan', 'age': 23, 'weight': None}

In [85]:
bio_data.update({"age":23}) #updatw value of the given key

In [86]:
bio_data

{'f_name': 'M', 'l_name': 'Faizan', 'age': 23, 'weight': None}